:root {
  --cor-jogo: 252, 71, 84;
}

/* Circulos Grandes */
.circulo-grande:nth-child(1),
.circulo-grande:nth-child(2),
.circulo-grande:nth-child(3) {
  position: fixed;
  width: 180px;
  height: 180px;
  background: rgba(var(--cor-jogo), 1);
  border-radius: 20px;
  filter: blur(50px);
  z-index: -1;
  transition: background 2s ease-in-out;
}

.circulo-grande:nth-child(1) {
  left: -100px;
}

.circulo-grande:nth-child(2) {
  left: 45%;
  bottom: -100px;
}

.circulo-grande:nth-child(3) {
  top: 200px;
  right: 200px;
}

/* Circulos Pequenos */
.circulo-pequeno:nth-child(1),
.circulo-pequeno:nth-child(2),
.circulo-pequeno:nth-child(3),
.circulo-pequeno:nth-child(4),
.circulo-pequeno:nth-child(5),
.circulo-pequeno:nth-child(6) {
  position: fixed;
  width: 7px;
  height: 7px;
  background: rgba(var(--cor-jogo), 0.7);
  border-radius: 50px;
  filter: blur(1px);
  z-index: -1;
  transition: background 2s ease-in-out;
}

.circulo-pequeno:nth-child(1) {
  top: 170px;
  left: 250px;
}

.circulo-pequeno:nth-child(2) {
  top: 330px;
  left: 300px;
}

.circulo-pequeno:nth-child(3) {
  top: 370px;
  left: 450px;
}

.circulo-pequeno:nth-child(4) {
  top: 120px;
  right: 50%;
}

.circulo-pequeno:nth-child(5) {
  left: 55%;
  bottom: 50%;
}

.circulo-pequeno:nth-child(6) {
  left: 15%;
  bottom: 15%;
}