:root {
  --cor-jogo: 252, 71, 84;
}

.capaJogo {
  width: 200px;
  height: 250px;
  position: fixed;
  top: 22%;
  right: 14%;
  z-index: -1;
}

.rectangle:nth-child(1),
.rectangle:nth-child(2),
.rectangle:nth-child(3) {
  width: 200px;
  height: 250px;
  position: fixed;
  border: 1px solid rgba(var(--cor-jogo), 0.5);
  z-index: -3;
}

.rectangle:nth-child(1) {
  top: 21.5%;
  right: 13.7%;
}


.rectangle:nth-child(2) {
  top: 21%;
  right: 13.4%;
}

.rectangle:nth-child(3) {
  top: 20.5%;
  right: 13.1%;
}